git+https://github.com/Mmesek/MFramework.py.git
git+https://github.com/Mmesek/mdiscord.git
git+https://github.com/Mmesek/mlib.git
beautifulsoup4
html2text
lxml
Pillow
numpy
sklearn
scipy
scikit-learn
pandas
gitpython
upsidedown
pycountry
howlongtobeatpy