MFramework.py @ git+https://github.com/Mmesek/MFramework.py.git
mdiscord @ git+https://github.com/Mmesek/mdiscord.git
mlib @ git+https://github.com/Mmesek/mlib.git
beautifulsoup4
html2text
lxml
Pillow
numpy
scipy
scikit-learn
pandas
gitpython
upsidedown
pycountry
howlongtobeatpy
psutil
pyyaml
matplotlib
