git+https://github.com/Mmesek/MFramework.py.git
git+https://github.com/Mmesek/mdiscord.git
git+https://github.com/Mmesek/mlib.git@main
beautifulsoup4
html2text
lxml
Pillow
numpy
scipy
scikit-learn
pandas
gitpython
upsidedown
pycountry
howlongtobeatpy
psutil
